* {
	margin : 0;
	padding : 0;
}
html, body {
	height : 100%;
}
body {
	font-family : arial, sans-serif;
	font-size: 16px;
	line-height: 20px;
	color: #444;
}

ul, ol {
	list-style: none;
}

$COLOR_PRIMARY: #175468;

#generator {
	padding: 15px;
}

#characterTypes {
	background: #fbfbfb;
	border: 1px solid #ccc;
	padding: 0 10px;

	 legend {
		 font-size: 15px;
		 line-height: 25px;
	 }

	 ul {
		 margin: 15px;
	 }

	 li {
		 background: white;
		 border: 1px solid #eee;
		 font-size: 13px;
		 padding: 10px;
		 margin-top: 5px;
		 position: relative;

		 .icon {
			 visibility: hidden;
			 font-weight: bold;
			 cursor: move;
			 position: absolute;
			 left: 5px;
			 top: calc(50% - 10px);
		 }

		 .category-controls {
			 
			 max-width: calc(100% - 30px);
			 margin-left: 30px;
			 position: relative;

			 > h2 {
				font-size: 15px;
				font-weight: bold;
			 }

			 > div {
				 padding: 5px 5px 5px 0;
			 }
			 
			 .del-btn {
				background: transparent;
				border: 0 none;
				outline: 0 none;
				display: none;
				position: absolute;
				top: 0;
				right: 0;
				color: #bbb;
				font-size: 22px;
				font-weight: bold;
				text-align: center;
				padding: 0 10px;
				cursor: pointer;
			}

			&:hover {
				.del-btn {
					color: $COLOR_PRIMARY;
				 	display: inline-block;
				 }
			}
		 }

		 &:hover {
			 
			 border-color: #ccc;

			 .icon {
				 visibility: visible;
			 }
		 }
	 }
}

.icon {
	display: inline-block;
	font-size: 14px;
	line-height: inherit;
	padding: 0 4px;
	color: #777;
	font-style: normal;
}

input {
	font-size: 13px;
	line-height: 20px;
	

	&[type=number] {
		width: 50px;
	}
}

input,
.toggle-switch-container {
	vertical-align: middle;
	margin: 10px 10px 0 0;
}

/*----------------------------------------------
 * Toggle Switch Control Styles
 *----------------------------------------------*/
$TRANSITION: all 200ms linear;

.toggle-switch-container {

    font-size: 13px;
    line-height: 23px;
    display: inline-block;
	position: relative;

    input[type=checkbox] {
        display: none;

        &:checked {
            + label {
                background: $COLOR_PRIMARY;
                border-color: $COLOR_PRIMARY;
                color: white;

                .tog-swh-btn {
                    left: calc(50% + 1px);
                    color: $COLOR_PRIMARY;
                }

                 &:hover {
                    background: darken($COLOR_PRIMARY, 10%);

                    .tog-swh-btn {
                        color: $COLOR_PRIMARY;
                        letter-spacing: 1px;
                    }
                }
            }
        }
    }

    label {
        background: #ccc;
        border: 1px solid #bbb;
        color: #777;
        display: table-row;
        cursor: pointer;
        transition: $TRANSITION;

         &:hover {
             background: #bbb;

            .tog-swh-btn {
                color: $COLOR_PRIMARY;
                letter-spacing: 1px;
            }
        }
    }

    .tog-swh-text,
    .tog-swh-btn {
        display: table-cell;
		border: 0 none;
        text-align: center;
        user-select: none;
    }

	.tog-swh-text {
		width: 50%;
		padding: 0 5px;
	}

    .tog-swh-btn {
        background: white;
        color: #aaa;
        font-size: 11px;
		line-height: 21px;
        position: absolute;
        top: 1px;
        left: 1px;
        transition: $TRANSITION;
		width: calc(50% - 2px);
    }
}