$COLOR_PRIMARY: #423c51;

* {
	margin : 0;
	padding : 0;
}
html, body {
	height : 100%;
} 
body {
	background: $COLOR_PRIMARY;
	font-family : arial, sans-serif;
	font-size: 16px;
	line-height: 20px;
	color: #444;
}
  
ul, ol {
	list-style: none;
}

input[type=text],
input[type=number] {
	border: 1px solid #bbb;
	height: 25px;

	&:hover,
	&:focus {
		outline: 0 none;
		border-color: $COLOR_PRIMARY;
	}
}

.root {
	max-width: 600px;
	margin: 0 auto;
}
