$COLOR_PRIMARY: #423c51;
$TEXT_COLOR: white;
$INPUT_COLOR: #423c51;
@import '../../node_modules/font-awesome/css/font-awesome.min.css';
* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    background: $COLOR_PRIMARY;
    font-family: arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: $TEXT_COLOR;
}

ul,
ol {
    list-style: none;
}

li {
    display: inline-block;
}

.root {
    max-width: 780px;
    margin: 0 auto;
}

.rx-btn-icon,
.rx-btn-text,
.input-text,
.input-num {
    display: inline-block;
    line-height: 25px;
    vertical-align: middle;
    color: $COLOR_PRIMARY;
    background: white;
    border: 1px solid lighten($COLOR_PRIMARY, 50%);
    outline: 0 none;
    margin-right: 5px;
    &:focus {
        border-color: lighten($COLOR_PRIMARY, 25%);
    }
    .guide-wrapper & {
        line-height: 20px;
    }
}

.rx-btn-icon,
.rx-btn-text {
    cursor: pointer;
}

.rx-btn-icon,
.rx-btn-text,
.input-num {
    text-align: center;
}

.rx-btn-text {
    font-size: 12px;
}

.rx-btn-icon,
.rx-btn-text {
    background: lighten($COLOR_PRIMARY, 65%);
    width: 32px;
    font-weight: bold;
    &.rx-checked {
        background: lighten($COLOR_PRIMARY, 45%);
        border-color: lighten($COLOR_PRIMARY, 25%);
    }
    .fa-unlock,
    .fa-lock {
        font-size: 19px;
    }
    .fa-exclamation {
        font-size: 18px;
    }
    >input[type=radio],
    >input[type=checkbox] {
        display: none;
    }
    .guide-wrapper & {
        width: 22px;
    }
}

.rx-btn-edit {
    display: inline-block;
    font-size: 16px;
    color: lighten($COLOR_PRIMARY, 35%);
    cursor: pointer;
    padding: 0 0 0 10px;
    &:hover,
    &.active {
        color: $COLOR_PRIMARY;
    }
}

.rx-btn-join {
    color: lighten($COLOR_PRIMARY, 35%);
    &:hover {
        color: $COLOR_PRIMARY;
    }
}

.input-num {
    width: 50px;
}

.cate-val-wrapper,
.cate-val-settings-wrapper {
    padding: 5px 10px;
    margin-top: 10px;
    background: lighten($COLOR_PRIMARY, 60%);
    +a {
        display: inline-block;
        font-size: 21px;
        width: 32px;
        text-align: center;
        padding: 0 5px;
        vertical-align: middle;
        cursor: pointer;
        .fa {
            -o-transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
    }
}

.cate-val-wrapper {
    display: inline-block;
    p {
        margin: 0;
    }
}

.cate-val-settings-wrapper {
    p {
        margin: 5px 0 10px;
        padding-bottom: 10px;
        font-size: 16px;
        border-bottom: 1px solid white;
    }
    .input-text {
        display: block;
        width: 100%;
        padding: 0 10px;
        margin: 10px auto;
        box-sizing: border-box;
    }
}

.rx-toolbar-wrapper {
    position: absolute;
    right: 10px;
    top: 13px;
    button {
        display: inline-block;
        padding: 0 12px;
        font-size: 22px;
        line-height: 24px;
        background: transparent;
        border: 1px solid lighten($COLOR_PRIMARY, 40%);
        color: lighten($COLOR_PRIMARY, 40%);
        outline: 0 none;
        cursor: pointer;
        &:hover,
        &.active {
            color: lighten($COLOR_PRIMARY, 5%);
            background: lighten($COLOR_PRIMARY, 60%);
        }
        &:not(:first-child) {
            margin-left: 15px;
        }
    }
    &:after,
    &:before {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
    .rx-nav-btns {
        padding: 5px 10px;
        display: inline-block;
        >a {
            display: inline-block;
            font-size: 12px;
            line-height: 26px;
            vertical-align: top;
        }
    }
    +* {
        >h1 {
            font-size: 18px;
            line-height: 25px;
            font-weight: normal;
            margin: 8px 0;
        }
    }
}

.input-tab,
.output-tab {
    >input {
        width: 100%;
        padding: 15px 10px;
        margin: 10px 0 15px;
        box-sizing: border-box;
    }
}

.output-tab {
    ul {
        li {
            background: lighten($COLOR_PRIMARY, 65%);
            color: $COLOR_PRIMARY;
            width: 100%;
            padding: 10px 0;
            box-sizing: border-box;
            &:not(:last-child) {
                border-bottom: 1px solid $COLOR_PRIMARY;
            }
            input {
                width: calc(100% - 182px);
                border: 1px solid #aaa;
                font-size: 13px;
                line-height: 25px;
                padding: 0 5px;
                &:focus {
                    outline: 0 none;
                    border-color: $COLOR_PRIMARY;
                }
                +span {
                    display: inline-block;
                    line-height: 25px;
                    font-size: 14px;
                    font-weight: bold;
                    width: 100px;
                    text-align: center;
                    .failed {
                        color: red;
                    }
                    .passed {
                        color: green;
                    }
                }
            }
            button {
                background: transparent;
                border: 1px solid lighten($COLOR_PRIMARY, 40%);
                color: lighten($COLOR_PRIMARY, 20%);
                cursor: pointer;
                outline: 0 none;
                width: 30px;
                height: 29px;
                margin-left: 5px;
                &:hover {
                    color: $COLOR_PRIMARY;
                    border: 1px solid lighten($COLOR_PRIMARY, 10%);
                }
            }
        }
    }
}

.fa-list-remove {
    position: relative;
    &:before {
        content: "\F03A";
        color: lighten($COLOR_PRIMARY, 7%);
    }
    &:after {
        color: darken($COLOR_PRIMARY, 10%);
        content: "\F00D";
        position: absolute;
        right: -3px;
        font-size: 90%;
        top: -4px;
    }
}

.about-wrapper,
.guide-wrapper,
.list-wrapper,
.generator-wrapper {
    background: lighten($COLOR_PRIMARY, 65%);
    color: $COLOR_PRIMARY;
    padding: 0 0 20px;
    position: relative;
    >* {
        padding: 0 20px;
        box-sizing: border-box;
    }
    h1 {
        font-size: 18px;
        line-height: 60px;
        border-bottom: 2px solid $COLOR_PRIMARY;
        margin: 0 0 20px;
    }
}

.generator-wrapper {
    >* {
        padding: 0;
    }
    form {
        >* {
            padding: 0 20px;
            >input[type=text] {
                color: $COLOR_PRIMARY;
                font-size: 13px;
                line-height: 35px;
                box-sizing: border-box;
                width: 100%;
                padding: 0 10px;
                margin: 15px 0;
            }
            >p,
            >label {
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 8px;
            }
            >label {
                display: block;
                input {
                    display: none;
                }
                .fa {
                    margin-right: 10px;
                }
            }
        }
    }
}

.guide-wrapper {
    font-size: 13px;
    line-height: 20px;
    transition: all 500ms linear;
    article {
        margin-top: 30px;
        h3 {
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 15px;
        }
        label {
            cursor: pointer;
            text-decoration: underline;
            color: lighten($COLOR_PRIMARY, 40%);
            .fa-sort-up {
                display: none;
            }
            span:nth-of-type(2) {
                display: none;
            }
            ~p {
                display: none;
            }
        }
        [type="checkbox"] {
            display: none;
            &:checked {
                ~label {
                    color: darken($COLOR_PRIMARY, 5%);
                    .fa-sort-up {
                        display: inline-block;
                    }
                    .fa-sort-down {
                        display: none;
                    }
                    span:nth-of-type(1) {
                        display: none;
                    }
                    span:nth-of-type(2) {
                        display: inline;
                    }
                    ~p {
                        display: block;
                    }
                }
            }
        }
        ol {
            list-style: decimal;
            padding: 5px 0 5px 50px;
            li {
                display: list-item;
            }
        }
    }
}

.main-nav {
    li {
        width: 25%;
        box-sizing: border-box;
        a {
            display: block;
            text-align: center;
            font-size: 16px;
            line-height: 50px;
            text-decoration: none;
            border-bottom: 5px solid lighten($COLOR_PRIMARY, 20%);
            &,
            &:active,
            &:visited {
                color: lighten($COLOR_PRIMARY, 20%);
            }
            &:hover,
            &.active {
                color: lighten($COLOR_PRIMARY, 65%);
                border-color: lighten($COLOR_PRIMARY, 65%);
            }
            .fa {
                font-size: 24px;
                vertical-align: middle;
                margin-right: 10px;
            }
        }
    }
}

.about-wrapper {
    p {
        font-size: 16px;
        line-height: 30px;
        b {
            display: inline-block;
            width: 150px;
            vertical-align: middle;
        }
    }
}

.list-wrapper {
    h1 {
        margin-bottom: 0;
    }
    >p {
        background: lighten($COLOR_PRIMARY, 10%);
        color: white;
        font-size: 14px;
        line-height: 30px;
        border-bottom: 2px solid $COLOR_PRIMARY;
        margin-bottom: 15px;
    }
    section {
        margin-bottom: 15px;
        &:not(:last-child) {
            border-bottom: 1px solid lighten($COLOR_PRIMARY, 50%);
        }
        h4 {
            font-size: 15px;
            line-height: 20px;
            font-weight: bold;
        }
        p {
            font-size: 14px;
            line-height: 20px;
        }
    }
}

code {
    display: inline-block;
    color: #333;
    border: 1px solid lighten($COLOR_PRIMARY, 40%);
    padding: 0 5px;
    border-radius: 2px;
    background: lighten($COLOR_PRIMARY, 60%);
    line-height: 22px;
    font-size: 13px;
}

.popover {
    background: lighten($COLOR_PRIMARY, 62%);
    border-radius: 0;
    box-shadow: 0px 1px 2px -1px lighten($COLOR_PRIMARY, 50%);
    color: darken($COLOR_PRIMARY, 10%);
    font-size: 12px;
    line-height: 20px;
    padding: 5px;
    &.top {
        > {
            .arrow {
                &:after {
                    border-top-color: lighten($COLOR_PRIMARY, 62%);
                }
            }
        }
    }
}