$COLOR_PRIMARY: #423c51;
$TEXT_COLOR: white;
$INPUT_COLOR: #423c51;
@import '../../node_modules/font-awesome/css/font-awesome.min.css';
* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    background: $COLOR_PRIMARY;
    font-family: arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: $TEXT_COLOR;
}

ul,
ol {
    list-style: none;
}

li {
    display: inline-block;
}

.root {
    max-width: 780px;
    margin: 0 auto;
}

.rx-btn-icon,
.rx-btn-text,
.input-text,
.input-num {
    display: inline-block;
    line-height: 25px;
    vertical-align: middle;
    color: $COLOR_PRIMARY;
    background: white;
    border: 1px solid #555;
    outline: 0 none;
    margin-right: 5px;
    .guide-wrapper & {
        line-height: 20px;
    }
}

.rx-btn-icon,
.rx-btn-text {
    cursor: pointer;
}

.rx-btn-icon,
.rx-btn-text,
.input-num {
    text-align: center;
}

.rx-btn-text {
    font-size: 12px;
}

.rx-btn-icon,
.rx-btn-text {
    width: 32px;
    font-weight: bold;
    &.rx-checked {
        background: lighten($COLOR_PRIMARY, 40%);
    }
    .fa-unlock,
    .fa-lock {
        font-size: 19px;
    }
    .fa-exclamation {
        font-size: 18px;
    }
    >input[type=radio],
    >input[type=checkbox] {
        display: none;
    }
    .guide-wrapper & {
        width: 22px;
    }
}

.rx-btn-edit {
    display: inline-block;
    font-size: 16px;
    color: lighten($COLOR_PRIMARY, 50%);
    cursor: pointer;
    padding: 0 0 0 10px;
    &:hover,
    &.active {
        color: white;
    }
}

.input-num {
    width: 50px;
}

.cate-val-wrapper,
.cate-val-settings-wrapper {
    padding: 5px 10px;
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.3);
    +a {
        display: inline-block;
        font-size: 21px;
        width: 32px;
        text-align: center;
        padding: 0 5px;
        vertical-align: middle;
        cursor: pointer;
        .fa {
            -o-transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
    }
}

.cate-val-wrapper {
    display: inline-block;
}

.cate-val-settings-wrapper {
    p {
        margin: 5px 0 10px;
        padding-bottom: 10px;
        font-size: 16px;
        border-bottom: 1px solid white;
    }
    .input-text {
        display: block;
        width: 100%;
        padding: 0 10px;
        margin: 10px auto;
        box-sizing: border-box;
    }
}

.rx-toolbar-wrapper {
    button {
        display: inline-block;
        padding: 0 20px;
        font-size: 25px;
        line-height: 25px;
        background: transparent;
        border: 1px solid lighten($COLOR_PRIMARY, 50%);
        color: lighten($COLOR_PRIMARY, 50%);
        outline: 0 none;
        cursor: pointer;
        &:hover,
        &.active {
            color: lighten($COLOR_PRIMARY, 10%);
            background: lighten($COLOR_PRIMARY, 70%);
        }
        &:not(:first-child) {
            margin-left: 15px;
        }
    }
    &:after,
    &:before {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
    .rx-help-btns {
        float: right;
        padding: 5px 10px;
    }
    .rx-nav-btns {
        float: left;
        padding: 5px 10px;
    }
}

.input-tab {
    >input {
        width: 100%;
        padding: 100px 10px;
        box-sizing: border-box;
    }
}

.fa-list-remove {
    position: relative;
    &:before {
        content: "\F03A";
        color: lighten($COLOR_PRIMARY, 7%);
    }
    &:after {
        color: darken($COLOR_PRIMARY, 10%);
        content: "\F00D";
        position: absolute;
        right: -3px;
        font-size: 90%;
        top: -4px;
    }
}

.about-wrapper,
.guide-wrapper,
.list-wrapper {
    background: lighten($COLOR_PRIMARY, 65%);
    color: $COLOR_PRIMARY;
    padding: 0 0 20px;
    >* {
        padding: 0 20px;
        box-sizing: border-box;
    }
    h1 {
        font-size: 18px;
        line-height: 75px;
        border-bottom: 2px solid $COLOR_PRIMARY;
        margin: 0 0 20px;
    }
}

.guide-wrapper {
    font-size: 13px;
    line-height: 20px;
    transition: all 500ms linear;
    article {
        margin-top: 30px;
        h3 {
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 15px;
        }
        label {
            cursor: pointer;
            text-decoration: underline;
            color: lighten($COLOR_PRIMARY, 40%);
            .fa-sort-up {
                display: none;
            }
            span:nth-of-type(2) {
                display: none;
            }
            ~p {
                display: none;
            }
        }
        [type="checkbox"] {
            display: none;
            &:checked {
                ~label {
                    color: darken($COLOR_PRIMARY, 5%);
                    .fa-sort-up {
                        display: inline-block;
                    }
                    .fa-sort-down {
                        display: none;
                    }
                    span:nth-of-type(1) {
                        display: none;
                    }
                    span:nth-of-type(2) {
                        display: inline;
                    }
                    ~p {
                        display: block;
                    }
                }
            }
        }
        ol {
            list-style: decimal;
            padding: 5px 0 5px 50px;
            li {
                display: list-item;
            }
        }
    }
}

.homepage-wrapper {
    li {
        border: 2px solid lighten($COLOR_PRIMARY, 20%);
        box-sizing: border-box;
        cursor: pointer;
        margin: 7% 7%;
        width: 32%;
        text-align: center;
        font-size: 75px;
        line-height: 150px;
        &:hover {
            border-color: lighten($COLOR_PRIMARY, 65%);
        }
    }
    a {
        display: block;
        text-decoration: none;
        &,
        &:active,
        &:visited {
            color: lighten($COLOR_PRIMARY, 20%);
        }
        &:hover {
            color: lighten($COLOR_PRIMARY, 65%);
        }
    }
}

.main-nav {
    li {
        width: 25%;
        box-sizing: border-box;
        a {
            display: block;
            text-align: center;
            font-size: 16px;
            line-height: 50px;
            text-decoration: none;
            border-bottom: 5px solid lighten($COLOR_PRIMARY, 20%);
            &,
            &:active,
            &:visited {
                color: lighten($COLOR_PRIMARY, 20%);
            }
            &:hover,
            &.active {
                color: lighten($COLOR_PRIMARY, 65%);
                border-color: lighten($COLOR_PRIMARY, 65%);
            }
            .fa {
                font-size: 24px;
                vertical-align: middle;
                margin-right: 10px;
            }
        }
    }
}

.about-wrapper {
    p {
        font-size: 16px;
        line-height: 30px;
        b {
            display: inline-block;
            width: 150px;
            vertical-align: middle;
        }
    }
}

.list-wrapper {
    table {
        width: calc(100% - 40px);
        margin: 0px auto 20px;
        border-collapse: collapse;
        font-size: 14px;
        line-height: 20px;
        tr {
            border-bottom: 2px solid lighten($COLOR_PRIMARY, 50%);
        }
        thead {
            tr {
                th {
                    padding: 10px 0;
                    text-align: left;
                }
            }
        }
        tbody {
            tr {
                border-width: 1px;
                td {
                    padding: 5px 0;
                }
            }
        }
    }
}

code {
    display: inline-block;
    color: #333;
    border: 1px solid lighten($COLOR_PRIMARY, 40%);
    padding: 0 5px;
    border-radius: 2px;
    background: lighten($COLOR_PRIMARY, 60%);
    line-height: 22px;
    font-size: 13px;
}